In [ ]:
# Import all libraries needed for the tutorial
from pandas import DataFrame, read_csv
import matplotlib.pyplot as plt
import pandas as pd #this is how I usually import pandas
import sys #only needed to determine Python version number
import matplotlib #only needed to determine Matplotlib version number
# Enable inline plotting
%matplotlib inline

Các thư viện cần thiết:

In [ ]:
print('Python version ' + sys.version)
print('Pandas version ' + pd.__version__)
print('Matplotlib version ' + matplotlib.__version__)

Python version 3.6.9 (default, Oct  8 2020, 12:12:24)
[GCC 8.4.0]
Pandas version 1.1.4
Matplotlib version 3.2.2

In [ ]:
# The initial set of baby names and birth rates
names = ['Bob','Jessica','Mary','John','Mel']
births = [968, 155, 77, 578, 973]

Lưu dữ liệu: tên, tuổi của 5 bé

In [ ]:
zip?

Hàm hợp nhất 2 dữ liệu với nhau:

In [ ]:
BabyDataSet = list(zip(names,births))
BabyDataSet

[('Bob', 968), ('Jessica', 155), ('Mary', 77), ('John', 578), ('Mel', 973)]

In ra dữ liệu đã được hợp nhất

In [ ]:
df = pd.DataFrame(data = BabyDataSet, columns=['Names', 'Births'])
df

Tạo DataFrame chứa dữ liệu:

In [ ]:
df.to_csv?

csv:

In [ ]:
df.to_csv('births1880.csv',index=False,header=False)

Tệp dữ liệu csv được xuất ra là:

In [ ]:
read_csv?

Đọc tệp:

In [ ]:
Location = r'/content/births1880.csv'
df = pd.read_csv(Location)

Đọc file:

In [ ]:
df

         0    1
0      Bob  968
1  Jessica  155
2     Mary   77
3     John  578
4      Mel  973

Xuất dữ liệu:

In [ ]:
df = pd.read_csv(Location, header=None)
df

         0    1
0      Bob  968
1  Jessica  155
2     Mary   77
3     John  578
4      Mel  973

In [ ]:
df = pd.read_csv(Location, names=['Names','Births'])
df

Đặt tên cho từng cột:

In [ ]:
import os
os.remove(Location)

Xóa tệp csv sau khi sử dụng xong:

In [ ]:
# Check data type of the columns
df.dtypes

Names     object
Births     int64
dtype: object

In [ ]:
# Check data type of Births column
df.Births.dtype

In [ ]:
# Method 1:
Sorted = df.sort_values(['Births'], ascending=False)
Sorted.head(1)

Tìm tên phổ biến nhất

In [ ]:
# Method 2:
df['Births'].max()

973

In [ ]:
# Create graph
df['Births'].plot()

# Maximum value in the data set
MaxValue = df['Births'].max()

# Name associated with the maximum value
MaxName = df['Names'][df['Births'] == df['Births'].max()].values

# Text to display on graph
Text = str(MaxValue) + " - " + MaxName

# Add text to graph
plt.annotate(Text, xy=(1, MaxValue), 
                   xytext=(25, 0), 
                   xycoords=('axes fraction', 'data'), 
                   textcoords='offset points',
                   arrowprops=dict(arrowstyle='-|>'))

print("The most popular name")
df[df['Births'] == df['Births'].max()]
#Sorted.head(1) can also be used

NameError: ignored

Biểu đồ: